@font-face {
  font-family: "iconfont"; /* Project id 4205731 */
  src: url('iconfont.woff2?t=1691656030143') format('woff2'),
       url('iconfont.woff?t=1691656030143') format('woff'),
       url('iconfont.ttf?t=1691656030143') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 20px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-pinglun:before {
  content: "\e63a";
}

.icon-shoucangxuanzhong:before {
  content: "\e600";
}

.icon-fenxiang:before {
  content: "\e635";
}

.icon-pinglun4:before {
  content: "\e6ba";
}

.icon-dianzan:before {
  content: "\e8c3";
}

